* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(183deg, #eccd41, #8fe2ff, #8fb1ff, #191785);
    background-size: 100% 100%;
    height: 100vh;
}

h1,
h2 {
    font-family: "Orbitron", sans-serif;
}


#submit {
    font-family: "Orbitron", sans-serif;
}
